click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
Flask-SocketIO
PyMySQL
spacy
spacy-legacy
spacy-loggers
numpy
scikit-learn
pandas
openai
regex
python-dotenv
gevent
Flask-Session
PyPDF2
langchain
faiss-cpu==1.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510